* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    outline: none;   
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-style: normal;     
}

.header__menu {
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow: hidden;
}

.navig {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 10px 45px;
    height: 90px;
}

.logotip {
    display: flex;
    height: fit-content;
    justify-content: flex-start;   
}

.navig__menu {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: flex-start;
    overflow: hidden;    
}

.css-1akagq8 {    
    border: none;
    outline: none;   
    list-style: none;
    text-decoration: none;       
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 50px 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.css-1akagq8:hover {
    color: rgb(238, 228, 96);    
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
}

input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;  
}

input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #f9f0da;
    color: #fff;  
}

.search__butt {
    background: #181818;
    fill: #fff;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.search__butt__icon {
    width: 25px;
    height: 25px;
}

.search__butt:before {
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
    opacity: 1;  
}

#nav-icon3 {
    position: absolute;    
}

@media screen and (max-width: 1120px) {
    .search {
        display: none;
        transition: .4s ease;
    }
    .header__menu {
        position: fixed;
    }
    .css-1akagq8 {
        font-weight: 500;
        font-size: 20px;
        width: 100px;
        height: 50px;
    }
    .css-1akagq8 {
        height: 200px;
    }
    .navig {
        height: 220px;
        align-items: flex-start;
    }
    .navig__menu {
        position: absolute;
        top: 0;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    padding: 15px;        
	    transform: translateX(-100%);
	    transition: transform 0.5s; 
        margin: 100px 5%;
        z-index: 100;       
    }
    .navig__menu.active {
        transform: translateX(0);       
        width: 100%;
	    height: 1000px;
        z-index: 100;
        font-weight: 300;
        font-size: 10px;
    }    
    #nav-icon3 {
        margin-top: 10px;
        width: 60px;
        height: 45px;
        position: relative;        
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 50;
    }
    #nav-icon3 span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #nav-icon3 span:nth-child(1) {
        top: 0px;
    }
    #nav-icon3 span:nth-child(2),
    #nav-icon3 span:nth-child(3) {
        top: 18px;
    }
    #nav-icon3 span:nth-child(4) {
        top: 36px;
    }
    #nav-icon3.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    #nav-icon3.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    #nav-icon3.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    .section_1 {
        padding-top: 150px;
    }    
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading {
    position: absolute;
    bottom: 100px;
    left: 60px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50px; 
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
    opacity: 0.9;
    animation: slideUp 1s forwards;    
    transform: translateY(200px 150%);        
    animation-delay: 0s;
}

@keyframes slideUp {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0%);
    }
}

.heading2 {
    position: absolute;
    top: 100px;
    left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px; 
    text-shadow: 10px 1px 5px rgba(0, 0, 0, 0.589); 
    animation: slideUp 1s forwards;    
    transform: translateY(150%);        
    animation-delay: 0s;
}

.swiper-slider {
    position: relative;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}

.heading_section2 {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50px; 
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
    opacity: 0.8;   
}

.heading2_section2 {
    position: absolute;
    top: 110px;
    left: 50px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px; 
    text-shadow: 10px 1px 5px rgba(0, 0, 0, 0.589); 
}

.button_models {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #fff;
    border: 1px 1px #fff;
}

.icon_slider {
    position: absolute;
    bottom: 50px;        
    height: 66px;
    width: 58px;
    stroke: #fff;
    overflow: hidden;
    opacity: 0.7;
}

.tittle_button {
    position: absolute;
    bottom: 60px;
    left: 70px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px; 
}

.section_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;       
    background: #fff;
}

.section_3 span {
    color: #181818;
}

.configurate, .configurate_dubl {
    position: relative;
    width: 100%;
    height: 706px;        
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    background: url(../finalproject/img/img/mode_chooser_home_urus_s.webp); 
    background-size: cover;
    background-position: center center;
}

.configurate_dubl {    
    background: url(../finalproject/img/img/model_chooser_tecnica.webp);
    background-size: cover;
    background-position: center center;  
}

.tittle1_section3 {
    color: #181818;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px; 
    text-shadow: 10px 1px 5px rgba(0, 0, 0, 0.589);
    opacity: 0.85;
}

.tittle2_section3 {    
    color: #181818;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px; 
    text-shadow: 10px 1px 5px rgba(0, 0, 0, 0.589);
    opacity: 0.85; 
}
    
.section_4 {
    display: flex;    
    background: #fff url(../finalproject/img/img/533702.jpg);
    z-index: -1;
    width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: center center;
}

.configurate4 {
    color: #fff;
    margin: 0 117px;
    position: relative;    
}

.tittle1_section4 {
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.tittle2_section4 {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 70px;
    text-transform: uppercase;
}

.section_5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;    
    width: 100%;  
    background-size: cover;
    background-position: center center;  
}

.configurate5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;        
}

.configurate5 img {
    background-size: cover;
    background-position: center center;
    width: 100%;    
}

.tittle1_section5 {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
}

.tittle2_section5 {
    margin: 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
}

.tittle3_section5 {
    margin: 35px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.button_news_huracan {
    width: 100px;
    height: 50px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;       
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.button_news {
    margin: 20px 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;    
    cursor: pointer;    
    text-decoration: none;
    color: #000;
}

.buttonnews {
    margin: 20px 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;    
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.configurate5_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tittle1_section6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
}

.tittle2_section6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.configurate5_1_2 {
    display: flex;
    flex-direction: column;
}

.tittle_button_news {
    text-decoration: none;
    color: #000; 
}

.section_news {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;        
    background: #fff;    
    max-width: 1500px;
    margin-left: 150px;
    padding: 30px;                
}

.section_news_1 {
    display: flex;    
    justify-content: flex-start;
    align-items: flex-start;    
    background: #fff;    
    max-width: 100%;
    padding: 15px;    
}

.img_news {
    max-width: 585px;
    max-height: 260px;
    background-size: cover;
    background-position: center center;
}

.configurate6_1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
}

.buttonnews__1 {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    cursor: pointer;
    background:  rgba(0, 0, 0, 0.089);
}

.button_news_1 {    
    color: #000; 
}

.buttonnews__1:hover {
    background: #1818186c;
}

.tittle3_sectionnews {
    margin: 20px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.button_newsall {
    display: flex;
    text-decoration: none;
    color: #000;
    margin: 50px 40%; 
}

.eco {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    bottom: 0;
    opacity: 0.85;
    background-color: #181818;
    color: #fff;
    padding: 5px;
}

.eco_tittle {
    font-weight: 500;
    font-size: 17px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: #fff;
    padding: 40px;   
}

.socialnetworkicon {
    display: flex;
}

.socialnetworkicon > li {
    margin: 10px;
}

.tittle1_footer1 {
    padding: 40px;
    font-weight: 500;
    font-size: 17px;
}

.linknet {
    color: #fff;
}

@media screen and (max-width: 1400px) {
    .css-1akagq8 {
        margin: 0 30px 0 10px;
        font-weight: 400;
        font-size: 20px;
    }
    .heading2 {         
        font-weight: 400;
        font-size: 30px;        
    }
    .heading {
        font-weight: 600;
        font-size: 40px;        
    }
    .section_news_1 {        
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;        
    }
}

@media screen and (max-width: 1000px) {
    .heading2 {              
        font-weight: 300;
        font-size: 20px;        
    }
    .heading {
        font-weight: 500;
        font-size: 30px;        
    }
    .section_news {
        margin-left: 0;
        padding: 0;
    }
    .eco_tittle {
        font-weight: 400;
        font-size: 10px;
    } 
    .button_newsall {
        display: none;
    }   
}

@media screen and (max-width: 680px) {
    .css-1akagq8 {
        margin: 0 10px 0 10px;
        font-weight: 200;
        font-size: 15px;
    }
    .navig__menu {
        margin-top: 100px;
    }
    .heading2 {               
        font-weight: 300;
        font-size: 10px;        
    }
    .heading {
        font-weight: 400;
        font-size: 20px;        
    }
    .heading_section2 {
        font-weight: 500;
        font-size: 30px
    }
    .heading2_section2 {        
        font-weight: 300;
        font-size: 20px;
    }
    .tittle1_section3 {
        font-weight: 400;
        font-size: 20px;        
    }
    .tittle2_section3 {        
        font-weight: 400;
        font-size: 20px;        
    }
    .tittle1_section5 {        
        font-weight: 500;
        font-size: 30px;        
    }
    .tittle2_section5 {
        font-weight: 500;
        font-size: 50px;
    }
    .configurate5 {
        padding-left: 0;
    }
    .eco {        
        display: none;        
    }
    .tittle1_footer1 {
        padding: 20px;
        font-weight: 400;
        font-size: 10px;
    } 
}

@media screen and (max-width: 626px) {
    .navig__menu {
        display: flex;
        flex-direction: column;
        height: fit-content;
        }
    .navig__menu li {
        margin-top: 5px;
    }
    .heading {
        font-weight: 400;
        font-size: 20px;
        bottom: 30px;
        left: 20px;        
    }
    .button_models {        
        bottom: 5px;
        left: 5px;
    }
    .heading_section2 {
        font-weight: 400;
        font-size: 20px
    }
    .heading2_section2 {        
        font-weight: 200;
        font-size: 10px;
    }
    .tittle1_section4 {
        margin-top: 150px;        
        font-weight: 300;
        font-size: 20px;
    }
    .tittle2_section4 {
        margin-top: 50px;        
        font-weight: 300;
        font-size: 20px;
    }
    .tittle1_section6 {        
        font-weight: 400;
        font-size: 20px;        
    }
    .img_news {
        max-width: 320px;
        max-height: 125px;        
    }
}

@media screen and (max-width: 450px) {    
    .button_models {        
        display: none;
    }
    .tittle1_section5 {        
        font-weight: 300;
        font-size: 20px;        
    }
    .tittle2_section5 {
        font-weight: 300;
        font-size: 30px;
    }    
}

@media screen and (max-width: 400px) {    
    .heading {
        font-weight: 300;
        font-size: 10px;
        bottom: 10px;
        left: 10px;        
    }
    .button_news {
        margin: 10px;        
        font-weight: 400;        
        padding: 2px;        
    }
    .swiper-button-next, .swiper-button-prev, .swiper-pagination {
        display: none;
    }
}